.add-board-modal {
    padding: 0 12px 12px 12px;

    .colors-pallet {
        width: 100%;

        > *:not(:last-child) {
            &:hover {
                cursor: pointer;
                filter: brightness(95%);
            }
        }

        > :last-child {
            display: flex;
            text-align: center;
            background-color: white;
            justify-content: center;

            &:hover {
                filter: brightness(80%);
                cursor: pointer;
            }
        }

        .color-sample {
            height: 54px;
            width: 86px;

            border-radius: 3px;
        }
    }

    .btn-upload {
        @include btn-add-save($type: "cancel");
        width: 100%;
    }
    .btn-add {
        @include btn-add-save($type: "save");
        width: 100%;

        &.required {
            opacity: 0.3;
        }
    }

    .photos-container {
        height: 54px;
        display: flex;
        gap: 10px;
        padding-bottom: 8px;

        .loader,
        img {
            object-fit: cover;
            height: 54px;
            width: 86px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                filter: brightness(80%);
            }
        }
    }

    input {
        border: none;

        &.required {
            border: 1px solid red;
            &::placeholder {
                color: red;
            }
        }
    }

    .bgcPicked {
        outline: 3px solid $userBgc3;
    }
}
