.board-list {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 1074px) 1fr;

    > * {
        grid-column: 2;
    }

    h3 {
        bottom: 0;
        line-height: 25px;
    }

    .boards-page {
        display: grid;
        grid-template-columns: 272px auto;
        margin: 40px 0px 0;

        .board-title {
            position: absolute;
        }

        .board-main {
            // max-width: 800px;
            h2 {
                font-family: "segoe-italic";
                color: var(--ds-text, #172b4d);
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }
        }

        .add-board-modal {
            position: fixed;
        }
    }

    .boards-container {
        list-style: none;
        margin: 0;
        padding: 0 0 20px;

        font-family: "segoe-regular";

        & > :last-child:not(.home-btn) {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f2f5;
            color: $textDark;

            &:hover {
                cursor: pointer;
                filter: brightness(95%);
            }
        }

        .btn-create {
            padding: 1rem;
            text-align: center;
        }
    }

    .boards-header-container,
    .star-header-container {
        color: var(--ds-text, #172b4d);

        h3 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }
        display: inline-block;
        padding-bottom: 10px;
        font-size: 24px;
        position: relative;
        margin-inline-start: 40px;

        .icon-template-board,
        .star {
            align-self: flex-end;
            left: -40px;
            position: absolute;
            top: -4px;
            bottom: 100px;
            height: 32px;
            line-height: 32px;
            width: 32px;
        }
    }

    .starred-board-list {
        list-style: none;
        margin: 0;
        padding: 0 0 20px;
        height: fit-content;
    }

    li {
        color: $clr6;
        border-radius: 3px;
        margin: 0;
        height: 96px;
        margin-bottom: 4px;
        background-size: cover;
        flex: 0 1 193px;
        width: 193px;
    }
}

@media (max-width: 768px) {
    .board-list {
        grid-template-columns: 1fr 400px 1fr;
        padding: 1rem;

        .app-nav-container nav {
            margin: 0 !important;
            padding: 0 !important;
            margin-block-end: 1rem;
            width: 100%;
        }

        .boards-container {
            width: 100% !important;
            flex-direction: row !important;
            margin-block-end: 20px;
        }

        .boards-page {
            display: grid;
            grid-template-columns: 1fr;
        }

        li {
            flex: 0 1 193px;
        }
    }
} ;
