.dashboard {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        "pies "
        "info "
        "spline ";

    gap: 1rem;
    color: $textLight;
    width: 99%;
    height: 99%;

    background-color: rgba($textDark, 0.9);

    border-radius: 3px;
    padding: 2rem;
    color: $textDark;

    overflow-y: scroll;
    &.isDark {
        * {
            color: $textLight;
        }
    }

    h1 {
        color: white;
    }
    .apexcharts-toolbar {
        display: none;
    }

    .apexcharts-xaxistooltip *,
    .apexcharts-tooltip * {
        color: $textDark !important;
    }

    .info {
        grid-area: info;
        text-align: center;
        border-radius: 1rem;
        padding: 0.5rem;

        article {
            background-color: rgba(#e27c7c, 0.8);
            padding: 0.5rem 1rem;
            border-radius: 3rem;
            max-width: 200px;
        }
    }

    .bold {
        // color: rgba(#e27c7c, 0.8);
        font-size: 1.5rem;
        font-weight: bold;
    }
    .members-container {
        grid-area: members;
        text-align: center;
        border-radius: 3px;
        // padding: 0.5rem;
        height: 100%;
        border: 1px solid #e27c7c;

        .members {
            border-radius: 0 0 3px 3px;
            background-color: rgba(#e27c7c, 0.8);
            overflow-y: scroll;
            max-height: 200px;
            padding: 1rem;
        }

        .member-image {
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            margin-inline-end: 0.5rem;
            height: 2rem;
            aspect-ratio: 1/1;
            box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
        }

        .member-initials {
            @include btn($type: "initials");
            height: 2rem;
            aspect-ratio: 1/1;
            margin-inline-end: 0.5rem;
            box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
        }
    }

    .isMember {
        color: yellow !important;
        font-weight: bold;
    }

    text {
        color: white;
    }

    .chart-pies {
        grid-area: pies;
    }

    .chart-spline {
        grid-area: spline;
        border-radius: 3px;
        // padding: 1rem;
        // border-top: 1px solid #e27c7c;
    }
}
